<ion-content>
	<div>
		<table class="navigation">
			<tbody>
				<tr>
					<td rowspan="3" style="border:none; width:8%;"><img src="./assets/img/kuberlaxmi.jpg" alt="LOGO"
							width="110"></td>
				</tr>
				<tr class="second-nav-back">
					<td colspan="2" class="border-primary">
						<div>
							<span class="second-nav-head">Draw Time</span>
						</div>
					</td>
					<td colspan="2">
						<div>
							<span class="second-nav-head">Time Left</span>
						</div>
					</td>
					<td colspan="3">
						<div>
							<span class="second-nav-head">Win</span>
						</div>
					</td>
					<td colspan="2">
						<div>
							<span class="second-nav-head">Result</span>
						</div>
					</td>
					<td colspan="2">
						<div>
							<span class="second-nav-head"
								style="font-weight: bold;">{{ time !== null ? time : '-' }}</span>
						</div>
					</td>
				</tr>
				<tr class="second-nav-head">
					<td class="border-primary" colspan="2">
						<table class="navigation">
							<tr>
								<td>
									<div>
										<span class="second-nav-subhead">Open Time</span>
										<br><br>
										<span class="second-nav-time" style="font-weight: bold;">10:00 AM</span>
									</div>
								</td>
								<td>
									<div>
										<span class="second-nav-subhead">Close Time</span>
										<br><br>
										<span class="second-nav-time" style="font-weight: bold;">10:04 AM</span>
									</div>
								</td>
							</tr>
						</table>
					</td>
					<td class="border-primary" colspan="2">
						<table class="navigation">
							<tr>
								<td>
									<div>
										<span class="second-nav-subhead">Open Slot Time</span>
										<br><br>
										<span class="second-nav-time" style="font-weight: bold;">04:00</span>
									</div>
								</td>
								<td>
									<div>
										<span class="second-nav-subhead">Close Slot Time</span>
										<br><br>
										<span class="second-nav-time" style="font-weight: bold;">08:00</span>
									</div>
								</td>
							</tr>
						</table>
					</td>
					<td class="border-primary" colspan="3">
						<table class="navigation">
							<tr>
								<td>
									<div>
										<span class="second-nav-subhead">Open Win</span>
										<br><br>
										<span class="second-nav-time" style="font-weight: bold;">100</span>
									</div>
								</td>
								<td>
									<div>
										<span class="second-nav-subhead">Pair Win</span>
										<br><br>
										<span class="second-nav-time" style="font-weight: bold;">1000</span>
									</div>
								</td>
								<td>
									<div>
										<span class="second-nav-subhead">Close Win</span>
										<br><br>
										<span class="second-nav-time" style="font-weight: bold;">100</span>
									</div>
								</td>
							</tr>
						</table>
					</td>
					<td class="border-primary" colspan="2">
						<table class="navigation">
							<tr>
								<td>
									<div>
										<span class="second-nav-head bg-green">Open Result</span>
										<h1 style="color: #37a037;">1</h1>
									</div>
								</td>
								<td>
									<div>
										<span class="second-nav-head bg-red">Close Result</span>
										<h1 style="color: red;">8</h1> 
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table> 	


		<!-- <table class="navigation">
			<tbody>
				<tr>
					<td class="heading-box">1990 - 2000</td>
					<td class="heading-box" style="border-bottom: 3px solid #e02b26;">2001 - 3000</td>
				</tr>
			</tbody>
		</table> -->


		<div class="row">

			<div class="column" style="width:20%;">
				<table class="navigation">
					<thead>
						<tr>
							<td class="record-name">Time</td>
							<td class="record-name">Open</td>
							<td class="record-name">Close</td>
							<td class="record-name">Pair</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
						<tr>
							<td>10:05 AM</td>
							<td>0</td>
							<td>5</td>
							<td>05</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="column" style="width:80%;">
				<table class="navigation points">
					<tbody>
						<tr>
							<td class="second-nav-back no-border"></td>
							<td class="second-nav-back">0</td>
							<td class="second-nav-back">1</td>
							<td class="second-nav-back">3</td>
							<td class="second-nav-back">2</td>
							<td class="second-nav-back">4</td>
							<td class="second-nav-back">5</td>
							<td class="second-nav-back">6</td>
							<td class="second-nav-back">7</td>
							<td class="second-nav-back">8</td>
							<td class="second-nav-back">9</td>
						</tr>
						<tr class="ion-margin-bottom">
							<td class="second-nav-back">Open</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
						</tr>
						<tr>
							<td>00-09</td>
							<td [ngClass]="fieldOne !== null && fieldOne !== '' ?'headBackground':''">00</td>
							<td [ngClass]="fieldTwo !== null && fieldTwo !== '' ?'headBackground':''">01</td>
							<td [ngClass]="fieldThree !== null && fieldThree !== '' ?'headBackground':''">02</td>
							<td [ngClass]="fieldFour !== null && fieldFour !== '' ?'headBackground':''">03</td>
							<td [ngClass]="fieldFive !== null && fieldFive !== '' ?'headBackground':''">04</td>
							<td [ngClass]="fieldSix !== null && fieldSix !== '' ?'headBackground':''">05</td>
							<td [ngClass]="fieldSeven !== null && fieldSeven !== '' ?'headBackground':''">06</td>
							<td [ngClass]="fieldEight !== null && fieldEight !== '' ?'headBackground':''">07</td>
							<td [ngClass]="fieldNine !== null && fieldNine !== '' ?'headBackground':''">08</td>
							<td [ngClass]="fieldZero !== null && fieldZero !== '' ?'headBackground':''">09</td>
						</tr>
						<tr>
							<td class="b-block">
								<div><input type="text" disabled></div>
							</td>
							<td [ngClass]="fieldOne !== null && fieldOne !== '' ?'filled-input':'empty-input'">
								<div><input type="text" [(ngModel)]="fieldOne" id="field1"
										onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
								</div>
							</td>
							<td [ngClass]="fieldTwo !== null && fieldTwo !== '' ?'filled-input':'empty-input'">
								<div><input type="text" [(ngModel)]="fieldTwo" id="field2"
										onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
								</div>
							</td>
							<td [ngClass]="fieldThree !== null && fieldThree !== '' ?'filled-input':'empty-input'">
								<div><input type="text" [(ngModel)]="fieldThree" id="field3"
										onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
								</div>
							</td>
							<td [ngClass]="fieldFour !== null && fieldFour !== '' ?'filled-input':'empty-input'">
								<div><input type="text" [(ngModel)]="fieldFour" id="field4"
										onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
								</div>
							</td>
							<td [ngClass]="fieldFive !== null && fieldFive !== '' ?'filled-input':'empty-input'">
								<div><input type="text" [(ngModel)]="fieldFive" id="field5"
										onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
								</div>
							</td>
							<td [ngClass]="fieldSix !== null && fieldSix !== '' ?'filled-input':'empty-input'">
								<div><input type="text" [(ngModel)]="fieldSix" id="field6"
										onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
								</div>
							</td>
							<td [ngClass]="fieldSeven !== null && fieldSeven !== '' ?'filled-input':'empty-input'">
								<div><input type="text" [(ngModel)]="fieldSeven" id="field7"
										onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
								</div>
							</td>
							<td [ngClass]="fieldEight !== null && fieldEight !== '' ?'filled-input':'empty-input'">
								<div><input type="text" [(ngModel)]="fieldEight" id="field8"
										onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
								</div>
							</td>
							<td [ngClass]="fieldNine !== null && fieldNine !== '' ?'filled-input':'empty-input'">
								<div><input type="text" [(ngModel)]="fieldNine" id="field9"
										onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
								</div>
							</td>
							<td [ngClass]="fieldZero !== null && fieldZero !== '' ?'filled-input':'empty-input'">
								<div><input type="text" [(ngModel)]="fieldZero" id="field10"
										onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
								</div>
							</td>
						</tr>
						<tr class="dis">
							<td>10-19</td>
							<td>10</td>
							<td>11</td>
							<td>12</td>
							<td>13</td>
							<td>14</td>
							<td>15</td>
							<td>16</td>
							<td>17</td>
							<td>18</td>
							<td>19</td>
						</tr>
						<tr>
							<td class="b-block"><div><input type="text" disabled></div></td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
						</tr>
						<tr class="dis">
							<td>20-29</td>
							<td>20</td>
							<td>21</td>
							<td>22</td>
							<td>23</td>
							<td>24</td>
							<td>25</td>
							<td>26</td>
							<td>27</td>
							<td>28</td>
							<td>29</td>
						</tr>
						<tr>								
								<td class="b-block"><div><input type="text" disabled></div></td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
						</tr>
						<tr class="dis">
							<td>30-39</td>
							<td>30</td>
							<td>31</td>
							<td>32</td>
							<td>33</td>
							<td>34</td>
							<td>35</td>
							<td>36</td>
							<td>37</td>
							<td>38</td>
							<td>39</td>
						</tr>
						<tr>
							<td class="b-block"><div><input type="text" disabled></div></td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
						</tr>
						<tr class="dis">
							<td>40-49</td>
							<td>40</td>
							<td>41</td>
							<td>42</td>
							<td>43</td>
							<td>44</td>
							<td>45</td>
							<td>46</td>
							<td>47</td>
							<td>48</td>
							<td>49</td>
						</tr>
						<tr>
							<td class="b-block"><div><input type="text" disabled></div></td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
						</tr>
						<tr class="dis">
							<td>50-59</td>
							<td>50</td>
							<td>51</td>
							<td>52</td>
							<td>53</td>
							<td>54</td>
							<td>55</td>
							<td>56</td>
							<td>57</td>
							<td>58</td>
							<td>59</td>
						</tr>
						<tr>
							<td class="b-block"><div><input type="text" disabled></div></td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
						</tr>
						<tr class="dis">
							<td>60-69</td>
							<td>60</td>
							<td>61</td>
							<td>62</td>
							<td>63</td>
							<td>64</td>
							<td>65</td>
							<td>66</td>
							<td>67</td>
							<td>68</td>
							<td>69</td>
						</tr>
						<tr>
							<td class="b-block"><div><input type="text" disabled></div></td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
						</tr>
						<tr class="dis">
							<td>70-79</td>
							<td>70</td>
							<td>71</td>
							<td>72</td>
							<td>73</td>
							<td>74</td>
							<td>75</td>
							<td>76</td>
							<td>77</td>
							<td>78</td>
							<td>79</td>
						</tr>
						<tr>
							<td class="b-block"><div><input type="text" disabled></div></td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
						</tr>
						<tr class="dis">
							<td>80-89</td>
							<td>80</td>
							<td>81</td>
							<td>82</td>
							<td>83</td>
							<td>84</td>
							<td>85</td>
							<td>86</td>
							<td>87</td>
							<td>88</td>
							<td>89</td>
						</tr>
						<tr>
							<td class="b-block"><div><input type="text" disabled></div></td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
						</tr>
						<tr class="dis">
							<td>90-91</td>
							<td>90</td>
							<td>91</td>
							<td>92</td>
							<td>93</td>
							<td>94</td>
							<td>95</td>
							<td>96</td>
							<td>97</td>
							<td>98</td>
							<td>99</td>
						</tr>
						<tr class="dis">
							<td class="b-block"><div><input type="text" disabled></div></td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
							<td>
								<div><input type="text" disabled></div>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
							<td>&nbsp;</td>							
						</tr>
						<tr>
							<td class="second-nav-back"></td>
							<td class="second-nav-back">0</td>
							<td class="second-nav-back">1</td>
							<td class="second-nav-back">2</td>
							<td class="second-nav-back">3</td>
							<td class="second-nav-back">4</td>
							<td class="second-nav-back">5</td>
							<td class="second-nav-back">6</td>
							<td class="second-nav-back">7</td>
							<td class="second-nav-back">8</td>
							<td class="second-nav-back">9</td>
						</tr>
						<tr>
							<td class="second-nav-back">Close</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
							<td class="second-nav-back">
								<div><input type="text" disabled></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- <div class="column div-height" style="width:20%; background: #85e785;">
				<table class="navigation">
					<tbody>
						<tr>
							<td class="green" style="color:white;">TICKET NO.</td>
							<td class="yellow">{{totalDrawAmt}}</td>
							<td class="green"></td>
						</tr>
						<tr *ngFor="let total of appConstants.totalDrawAmountArr; let i=index;">
							<td class="green" style="color: white;">{{total.ticketNo}}</td>
							<td class="yellow">{{total.total}}
								<ion-icon name="close-circle" style="float: right; margin-top: 2px;" color="danger"
									(click)="cancelTicket(total.ticket_no, i);"></ion-icon>
							</td>
							<td class="yellow" (click)="cancelTicket(total.ticketNo, i);" style="cursor: pointer;">
								Cancel
								<ion-icon name="close-circle" style="float: right; margin-top: 2px;" color="danger">
								</ion-icon>
							</td>
						</tr>
					</tbody>
				</table>
			</div> -->

		</div>

		<div class="row">
			<div *ngIf="showRefreshButton" class="column bottom-but" style="width:10%;">
				<a class="btn-bottom" (click)="getAgentData(true);"> Refresh </a>
			</div>
			<div class="column bottom-but" style="width:10%;">
				<a class="btn-bottom" (click)="resetFields();"> RESET </a>
			</div>
			<div class="column bottom-but" style="width:10%;">
				<a class="btn-bottom" (click)="showTicketDetail();"> Ticket Details </a>
			</div>
			<div class="column bottom-but" style="width:10%;">
				<a class="btn-bottom" (click)="goToResult();"> Result </a>
			</div>
			<div class="column" style="width:20%;">
			</div>
			<div class="column bottom-but" style="width:10%;">
				<a class="btn-bottom" (click)="openReports();"> Report </a>
			</div>
			<div class="column bottom-but" style="width:15%;">
				<a class="btn-bottom" (click)="getLastFiveTickets();"> Print Last Ticket </a>
			</div>
			<div class="column bottom-but" style="width:15%;">
				<a *ngIf="showSubmitButton" class="btn-grad" (click)="submitTicket();"> SUBMIT TICKET </a>
			</div>

		</div>

		<!-- <input type = "text" (keyup.enter)="handleScanner($event)" autofocus> -->

	</div>

	<!-- Popup Model -->
	<!-- Submit Ticket Modal -->
	<div class="modal navigation" *ngIf="showConfirmTicketDialog">

		<!-- Modal content -->
		<div class="print-modal-content">
			<span class="close" (click)="cancel();">&times;</span>
			<form action="">
				<div class="container">
					<div style="text-align: left;">
						<label>{{appConstants.centerName}} : </label>
						<ion-text>{{sessionData.machine_name}}</ion-text><br><br>
						<label>{{appConstants.drawPurchaseTime}} : </label>
						<ion-text>{{purchaseDateTime}}</ion-text><br><br>
						<label>{{appConstants.drawDateTime}} : </label>
						<ion-text>{{sessionData !== null? (sessionData.drawDate) : '-'}}</ion-text>
						<ion-text>
							{{sessionData !== null? dateFunction.convertStringDate( sessionData.drawDate+' '+sessionData.nextDrawTime, 'hh:mm:ss a') : '-'}}
						</ion-text><br><br>
						<label>{{appConstants.quantity}} : </label>
						<ion-text>{{ticketArr.length}}</ion-text><br><br>
					</div>
					<div>
						<table class="navigation">
							<tbody>
								<tr>
									<td class="green">{{appConstants.selectedNo}}</td>
									<td class="yellow">{{appConstants.amount}}</td>
								</tr>

								<tr *ngFor="let ticket of ticketArr">
									<td class="green">{{ticket.num}}</td>
									<td class="yellow">{{ticket.amount}}</td>
								</tr>
								<tr>
									<td class="total-bal">{{appConstants.total}}</td>
									<td class="total-bal">{{totalAmtOfTicket}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<table class="navigation">
						<tbody>
							<tr></tr><br>
							<tr>
								<td>
									<button class="btn" type="submit" (click)="cancel();"
										style="border-radius: 10px !important;">{{appConstants.cancel}}</button>
								</td>
								<td>
									<button class="btn-bottom" type="submit"
										(click)="ticketConfirmPrint();">{{appConstants.confirmAndPrint}}</button>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</form>
		</div>

	</div>


	<!-- Ticket Details model -->
	<div class="modal navigation" *ngIf="showTicketDetailsDialog">

		<!-- Modal content -->
		<div class="print-modal-content">
			<span class="close" (click)="closeTicketDetail();">&times;</span>
			<!-- <form action=""> -->
			<div class="container">
				<div style="text-align: center;">
					<label><b>{{appConstants.ticketNo}}</b></label><br>
					<input class="input" type="text" placeholder="{{appConstants.enterBarcodeNo}}"
						[(ngModel)]="barcodeNo"
						onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : (event.charCode >= 48 && event.charCode <=57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)"
						autofocus>
				</div>
				<table class="navigation">
					<tbody>
						<tr></tr><br>
						<tr>
							<td>
								<button class="btn" type="submit" (click)="closeTicketDetail();"
									style="border-radius: 10px !important;">{{appConstants.cancel}}</button>
							</td>
							<td>
								<button class="btn-bottom" type="submit" style="font-size: 18px;"
									(click)="getTicketDetails();">{{appConstants.submit}}</button>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- </form> -->
		</div>

	</div>

	<!-- Result Details model -->
	<div class="modal navigation" *ngIf="showResultDetails">

		<!-- Modal content -->
		<div class="print-modal-content">
			<span class="close" (click)="closeResultDetail();">&times;</span>
			<!-- <form action=""> -->
			<div class="container">
				<div style="text-align: center;">
					<div *ngIf="isUserWin">
						<img src="./assets/img/trophy.png" width="20%" width="20%" /><br><br>
						<ion-text style="font-size: 16px;">You've won</ion-text><br>
						<ion-text style="font-size: 25px;">{{winingAmount | currency:'INR'}}</ion-text>
					</div>
					<div *ngIf="!isUserWin">
						<ion-text style="font-size: 27px;">Oop's</ion-text><br><br>
						<ion-text style="font-size: 16px;"> Better luck<br> next time!</ion-text>
					</div>

					<br><button class="btn" type="submit" (click)="closeResultDetail();"
						style="border-radius: 10px !important; width: 25%">{{appConstants.ok}}</button>
				</div>
			</div>
			<!-- </form> -->
		</div>

	</div>

	<!-- Last 5 Ticket Modal -->
	<div class="modal navigation" *ngIf="isShowLastFiveTicketModel">

		<!-- Modal content -->
		<div class="print-modal-content">
			<span class="close" (click)="cancel();">&times;</span>
			<form action="">
				<div class="container">
					<div style="text-align: left;">
						<label>Last 5 Tickets </label>
						<br><br>
					</div>
					<div>
						<table class="navigation">
							<tbody>
								<tr>
									<td class="green">Ticket No.</td>
									<td class="green"></td>
								</tr>

								<tr *ngFor="let ticket of lastFiveTicketArr">
									<td class="green">{{ticket.ticketNo}}</td>
									<td class="yellow" (click)="printLastTicket(ticket);" style="cursor: pointer;">Print
										<ion-icon name="print"></ion-icon>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<table class="navigation">
						<tbody>
							<tr></tr><br>
							<tr>

								<!-- 	<td>
									<button class="btn-bottom" type="submit"
										(click)="ticketConfirmPrint();">{{appConstants.confirmAndPrint}}</button>
								</td> -->
								<td>
									<button class="btn" type="submit" (click)="cancel();"
										style="border-radius: 10px !important; width: 100px;">Close</button>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</form>
		</div>

	</div>

	<!-- Wheel Model -->
	<div class="cd-panel cd-panel--from-right js-cd-panel-main"
		[ngClass]="isShowWheelModel? 'cd-panel--is-visible': ''">

		<div class="cd-panel__container">
			<div class="cd-panel__content">
				<div style="text-align:center;">

					<!-- <ion-img src='{{wheelImage}}' class="center-wheel" style="width: 420px !important;">
					</ion-img> -->

					<canvas id='canvas' class="center-wheel" width='880' height='380'>
						Canvas not supported, use another browser.
					</canvas>

					<ion-img src="./assets/img/wheel_container.png" class="center-wheel"
						style="width: 550px !important;"></ion-img>
				</div>
			</div>
		</div>
	</div>


</ion-content>